[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ubuntu/Desktop/Google Chrome.desktop]
row=2
col=1

[/home/ubuntu/Desktop/Visual Studio Code.desktop]
row=3
col=1

[/home/ubuntu/Desktop/libs]
row=1
col=1

[/home/ubuntu/Desktop/eclipse.desktop]
row=4
col=1

[tmp]
row=1
col=0

[share]
row=2
col=0

[work]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/ubuntu]
row=0
col=1

